* {
    margin: 0;
    padding: 0;
  }
/* Thiết lập font chữ và màu nền cho trang web */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
/* Định dạng đoạn văn bản chungloại dấu gạch chân */
a{
    color: #0077cc;
    text-decoration: none;
}
.navbar-header{
    margin-right: auto;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar-collapse-02{
    margin-left: auto;
    margin-right: 20%;
    
}

