ul, li{
  list-style: none;
}
* body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Tahoma, Arial, sans-serif;

}
/* Thiết lập font chữ và màu nền cho trang web */
/* Định dạng đoạn văn bản chungloại dấu gạch chân */
a{
    color: #0077cc;
    text-decoration: none;
}
#page{
  width: 1890px;
  height: 90px;
  margin: auto;
}
.navbar-header{
    margin-right: auto;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar-collapse-02{
    margin-left: auto;
    margin-right: 20%;
    
}

